




#content{
  display: inline-flex;
  width: 100%;
  min-height: 100px;
}

.col1{
  background-color: 222222;
  width: 40px;
  min-height: 100px;
}

.socialmedia img{
  margin: 10px;
}


.panel1{
  display: inline-flex;
  background-color: white;
  width: 100%;
  min-height: 100px;
}

.col2{
  display: block;
  background-color: inherit;
  border-color: red;
  width: 20%;
}

.col2profile{
  border-bottom: solid;
  border-color: dddddd;
  border-width: 1px;
  text-align: center;
  margin: 15px;
  margin-top: 90px;
  padding-bottom: 10px;
}

.words{
  color: 7c7c7c;
  text-align: left;
  margin-left: 25px;
  margin-right: 10px;
}

.col2Nav{
  float: left;
  margin-top: 70px;
}

h3{
font-family: sans-serif;
}

.nav{
  margin-top: -30px;
  float: left;
}

.nav ul{
  list-style-type: none;
}

.nav ul li a{
  display: block;
  text-align: left;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  margin: 5px;
  margin-left: -20px;

}

.nav ul li a:hover{
  display: block;
  text-align: left;
  text-decoration: none;
  color: 7cc576;
  font-family: sans-serif;
  margin: 5px;
  margin-left: -20px;
}

.col3{
  background-color: inherit;
  border-color: red;
  width: 50%;
  margin-bottom: 20px;
}

.col3row1{
  border-bottom: solid;
  border-color: dddddd;
  border-width: 1px;
  text-align: left;
  color: 7c7c7c;
  margin: 20px;
  margin-top: 90px;
  padding-bottom: 30px;
}

.col3row1 h1{
  color: black;
}

.Links a{
  color: 7cc576;
  text-decoration: none;
}

.Links a:hover{
  color: 7cc576;
  text-decoration: underline;
}

.col3row2 {
  margin-left: 20px;
  margin-top: 20px;
}

.datedate a {
  margin-bottom: 10px;
  color: darkgray;
  text-decoration: none;
}

.btnContinue{
  display: inline-block;
  padding: 15px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-family: sans-serif;
  background-color: #333333;
  border-radius: 2px;
}

.btnContinue:hover{
  background-color: #7cc576;
}

.col4{
  display: block;
  background-color: inherit;
  border-color: red;
  width: 30%;
  margin-top: 90px;
}

.col4row1{
  display: block;
  height: 100%;
  width: 100%;
}

.col4row1 img{
  float: center;
}

.col4row2{
  display: block;
  min-height: 100px;
  align-content: center;
}

.col4row2 img{
  float: center;
}

h4{
  text-align: center;
  margin:30px;
  padding-top: 20px;
}

.col4 ul{
  display: flex;
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.col4 ul li{
  padding: 10px;
  margin: 2px;
  border-radius: 2px 2px 2px 2px;
  background-color: #eee;
  width: 90%;

}

.col4 ul li a{
    color: #333333;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.col4 ul li:hover{
  color: #eee;
  background-color: #7cc576;
}
.col4 ul li a:hover{
    color: #eee;
}

.navv ul li a{
  text-align: center;
  padding-left: 10px;
}
